p {
    margin-top: 1rem !important;
}
.header-nav {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    background-color: #4E95D2;
    box-shadow: 0px 10px 20px #ababab29;
}
.header-nav a {
    text-decoration: none;
    color: inherit;
}
.header-nav .logo {
    padding: 17px 54px 17px 12px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 4rem;
    color: white;
}
.header-nav .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 4rem;
}
.header-nav .navbar .links {
    display: flex;
    gap: 4rem;
}
.header-nav .navbar .links a {
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}
.header-nav .navbar .links a:hover {
    color: lightgray;
    transition: .1s ease-in-out;
}
.no-box-shadow {
    box-shadow: none !important;
    background-color: #a4a4a412 !important;
}
.grid-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}